.fullCard{
    padding: 40px;
    display: flex;
    justify-content: center;
}

.card-img-top{
    height: 300px;
}

#password{
    margin: 0;
}


#error{
    position: relative;
    bottom: 300px;
    left: 200px;
    display:flex;
    justify-content: start;
    width: 300px;

}


.twoCards{
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.links{
    
    padding: 20px;
    font-size: 20px;
    gap: 50px;
    
    
}

.links a{
    text-decoration: none;
    padding: 10px;
}
